/* styles.css */
@font-face {
  font-family: 'Montserrat'; /* Name your font family */
  src: url('./fonts/static/Montserrat-Medium.ttf'); /* Locate the .ttf file within your directory*/
}

/* Regras gerais */
body {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  padding: 0;
  color: #f3f3f3;
  background-color: #0a0a0a;
  line-height: 1.6;
}

body.light-mode {
  color: #333333; /* Texto mais escuro */
  background-color: #f4f4f4; /* Fundo claro */
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 50px;
  background-color: #101010;
  height: 70px;
  border-bottom: 3px solid #0c55fa;
}

header a{
  text-decoration: none;
  color: #f3f3f3;
}

body.light-mode header a{
  color: #333333;
}

body.light-mode header{
  background-color: #ededed;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 50px;
  margin-left: 150px;
  padding: 0;
}

nav li {
  cursor: pointer;
  font-size: 20px;
  font-weight: bold;
  color: #f3f3f3;
  border: solid 1px #101010;
  border-radius: 10px;
}

body.light-mode nav li {
  color: #333333;
  border: solid 1px #ededed; 
}

nav li a{
  padding: 20px 15px 20px 15px;
}

nav li:hover{
  border: solid 1px #0c55fa;
}

body.light-mode nav li:hover{
  border: solid 1px #0c55fa;
}

.right-section {
  display: flex;
  align-items: center;
  margin-right: 200px;
}

.theme-switch {
  display: inline-block;
  width: 45px;
  height: 20px;
  background-color: #f3f3f3;
  border-radius: 15px;
  position: relative;
  margin-right: 10px;
  transition: background-color 0.4s;
}

body.light-mode .theme-switch{
  background-color: #101010;
}

.theme-switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.theme-switch label {
  position: absolute;
  top: 2px;
  left: 2px;
  width: 16px;
  height: 16px;
  background-color: #000;
  cursor: pointer;
  border-radius: 50%;
  transition: transform 0.4s;
}

body.light-mode .theme-switch label {
  background-color: #ededed;
}

.theme-switch input:checked + label {
  transform: translateX(25px);
}

.language-switch {
  height: 20px;
}

.language-switch img {
  width: 30px;
  height: 20px;
  margin-left: 8px;
  cursor: pointer;
  border-radius: 2px;
}

/* Estilo do botão flutuante */
#scrollButton {
  position: fixed;
  bottom: 35%;
  right: 20px;
  z-index: 1000;
  background-color: #f4f4f4;
  border: solid 1px #cecece;
  border-radius: 50%; /* Garante que o botão seja circular */
  width: 50px; /* Define a largura */
  height: 50px; /* Define a altura */
  font-size: 24px; /* Aumenta o tamanho do ícone */
  cursor: pointer;
  display: none; /* Começa escondido */
  transition: background-color 0.3s, transform 0.3s ease-in-out;
  align-items: center;
}

#scrollButton img{
  width: 100%;
  height: auto;
  object-fit: contain;
  margin-top: 5px;
  border-radius: 50px;
}

/* Estilo ao passar o mouse no botão */
#scrollButton:hover {
  transform: scale(1.2);
}

/* Estilo do botão flutuante */
#whatsappButton {
  position: fixed;
  bottom: 43%;
  right: 20px;
  z-index: 1000;
  background-color: #f4f4f4;
  border: solid 1px #cecece;
  border-radius: 50%; /* Garante que o botão seja circular */
  width: 50px; /* Define a largura */
  height: 50px; /* Define a altura */
  font-size: 24px; /* Aumenta o tamanho do ícone */
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s ease-in-out;
  background-image: url('assets/whatsapp-logo.png');
  background-size: cover;
  background-position: center;
}

/* Estilo ao passar o mouse no botão */
#whatsappButton:hover {
  transform: scale(1.2);
}

/* Hero section */
.hero {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 80px 0px 80px 0px;
  background-image: radial-gradient(#0c4ad6, #101010 90%);
  background-size: auto 1000px; /* Define o tamanho do gradiente */
  background-position: center center; /* Centraliza o gradiente */
  background-repeat: no-repeat; /* Evita que o gradiente se repita */
  text-align: start;
  height: 500px;
}

body.light-mode .hero{
  background-color: #aee5ff;
  background-image: none;
}

.hero-first-section{
  text-align: start;
  flex-basis: 55%;
  padding-left: 200px;
}

.hero-content {
  max-width: 800px;
  margin-bottom: 20px;
}

.hero h1 {
  font-size: 40px;
  margin: 0 0 20px 0;
  color: #f3f3f3;
}

body.light-mode .hero h1{
  color: #333333;
}

.hero p {
  font-size: 18px;
  margin: 0 0 30px 0;
  color: #dddddd;
}

body.light-mode .hero p{
  color: #333333;
}

.hero button {
  padding: 15px 30px;
  background-color: #1a1a1a;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  color: #f3f3f3;
  font-size: 18px;
  font-weight: bold;
  transition: background-color 0.3s;
}

body.light-mode .hero button{
  background-color: #0c4ad6;
  color: #f3f3f3;
}

body.light-mode .hero button:hover{
  background-color: #6dd1ff;
}

.hero button:hover {
  background-color: #0c4ad6;
}

.hero-first-section img {
  width: 100%;
  max-width: 190px;
  margin-bottom: 40px;
}

.rocket-image img {
  width: 120%;
  margin-top: 60px;
}

.rocket-image {
  flex-basis: 45%;
  overflow: hidden;
  height: 657px;
}

/* Sections */
.services, .testimonials{
  padding: 60px 20px;
  background-color: #101010;
  text-align: center;
}

body.light-mode .services, body.light-mode .testimonials{
  background-color: #f4f4f4;
}

/* Advantages Presentation Section */
.advantages-presentation {
  overflow: hidden; /* Esconde o conteúdo fora da área visível */
  background-color: #101010;
}

body.light-mode .advantages-presentation{
  background-color: #d2d2d2;
}


.advantages-presentation-wrapper {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: relative;
}

.advantages-presentation-list {
  display: flex;
  gap: 60px; /* Espaçamento entre os itens */
  animation: scroll 30s linear infinite; /* Animação de rolagem contínua */
  width: max-content;
}

.advantages-presentation-list h3 {
  white-space: nowrap; /* Garante que o texto não quebre em múltiplas linhas */
  font-size: 22px;
  padding: 0;
  margin: 10px;
  font-weight: 300;
}

/* Duplicar os itens visualmente para criar efeito contínuo */
.advantages-presentation-list::after {
  content: attr(data-items);
  display: flex;
}

/* Animação de rolagem horizontal contínua */
@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

/* Pausa a animação quando o mouse está sobre a lista */
.advantages-presentation-list:hover {
  animation-play-state: paused;
}

/* Services Section */

.services h2, .testimonials h2{
  margin-bottom: 40px;
  font-size: 32px;
}

.services {
  text-align: center;
  padding: 40px 20px;
  background-color: #141414;
}

.services p{
  margin-top: 5px;
  margin-bottom: 5px;
}

.service-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  margin-left: 150px; /* Margem à esquerda */
  margin-right: 150px; /* Margem à direita */
  max-width: calc(100% - 40px); /* Largura máxima menos as margens */
}

.service-item {
  background-color: #2c2c2c;
  color: #fff;
  flex: 1 1 calc(33.333% - 40px); /* Ajuste a largura para caber três itens por linha */
  max-width: calc(33.333% - 40px); /* Garantir que a largura máxima também seja limitada */
  box-sizing: border-box;
  text-align: center;
  cursor: pointer;
  border-radius: 8px;
  transition: transform 0.3s, background-color 0.3s;
  display: flex;
  flex-direction: column;
  align-items: left;
  text-align: left;
  padding: 70px 10px 10px 25px;
}

body.light-mode .service-item {
  background-color: #d2d2d2;;
  color: #000;
}

.service-item-icon {
  width: 30px;
  height: 30px;
  background-color: #0c55fa;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2px;
}

.service-item-icon img {
  width: 100%; /* Ajuste para a largura da div */
  height: auto; /* Mantém a proporção da imagem */
  object-fit: cover; /* Ajusta a imagem para cobrir a div */
  border-radius: 5px;
}

.service-item:hover {
  transform: translateY(-10px);
  background-color: #1f1f1f;
}
body.light-mode .service-item:hover{
  background-color: #bcbcbc;
}

@media (max-width: 768px) {
  .service-item {
    flex: 1 1 calc(50% - 20px); /* Dois itens por linha em telas menores */
    max-width: calc(50% - 20px);
  }
}

@media (max-width: 480px) {
  .service-item {
    flex: 1 1 100%; /* Um item por linha em telas muito pequenas */
    max-width: 100%;
  }
}

/* Advantages Section */

.advantages {
  display: flex;
  flex-direction: row;
  justify-content: space-between; /* Distribui o espaço adequadamente */
  align-items: unset;
  padding: 30px;
  padding-bottom: 70px;
  background-image: radial-gradient(#0c4ad6, #101010 90%);
  background-size: auto 1000px; /* Define o tamanho do gradiente */
  background-position: center center; /* Centraliza o gradiente */
  background-repeat: no-repeat; /* Evita que o gradiente se repita */
  text-align: center;
  width: auto;
  margin: 0 auto; /* Centraliza o conteúdo */
}

body.light-mode .advantages {
  background-color: #aee5ff;
  background-image: none;
}

.advantage {
  display: flex;
  flex-direction: column;
  align-items: start;
  flex-basis: 26%; /* Define o tamanho da div da imagem */
  text-align: start;
  padding-left: 80px;
}

.advantage img {
  max-width: 400px;
  height: auto;
  border-radius: 10px; /* Aplica bordas arredondadas */
  display: grid;
  margin-top: 40px;
}

.advantage h3 {
  font-size: 28px;
  line-height: normal;
}

.advantage button {
  padding: 15px 30px;
  background-color: #1a1a1a;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  color: #f3f3f3;
  font-size: 18px;
  font-weight: bold;
  transition: background-color 0.3s;
}

body.light-mode .advantage button{
  background-color: #0c4ad6;
  color: #f3f3f3;
}

body.light-mode .advantage button:hover{
  background-color: #6dd1ff;
}

.detail-item {
  padding-right: 100px;
}

.advantage button:hover {
  background-color: #0056b3;
}

.advantage-details {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  text-align: start;
  flex-basis: 65%;
  padding-top: 40px;
}

.detail-item h4 {
  font-size: 24px; /* Tamanho ajustado para os títulos */
  margin: 0;
  font-weight: 800;
}

.detail-item p {
  font-size: 16px;
  font-weight: lighter;
}

/* Second Information Section */

.second-info {
  text-align: center;
  padding: 50px 150px 50px 150px;
  background-color: #1a1a1a;
  display: flex;
  flex-direction: row;
}

body.light-mode .second-info{
  background-color: #f3f3f3;
}

.second-info p{
  font-size: 14px;
}

.second-info h2{
  line-height: normal;
  font-size: 32px;
  margin: 0;
}

.second-info-first {
  display: flex;
  flex-direction: column;
  align-items: start;
  flex-basis: 50%; /* Define o tamanho da div da imagem */
  text-align: start;
  padding-top: 100px
}

.second-info-first button {
  padding: 15px 30px;
  background-color: #0056b3;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  color: #f3f3f3;
  font-size: 18px;
  font-weight: bold;
  transition: background-color 0.3s;
  margin-top: 20px;
}

body.light-mode .second-info-first button{
  background-color: #0c4ad6;
  color: #f3f3f3;
}

body.light-mode .second-info-first button:hover{
  background-color: #6dd1ff;
}

.second-info-image {
  flex-basis: 30%;
  margin-left: 100px;
}

.second-info-image img{
  width: 500px;
  height: auto;
}

.second-info-first button:hover {
  background-color: #1a40b4;
}

/* Solutions Section */

.solutions {
  display: flex;
  flex-direction: column;
  justify-content: space-between; /* Distribui o espaço adequadamente */
  align-items: center;
  padding: 100px;
  padding-bottom: 70px;
  background-image: radial-gradient(#0c4ad6, #101010 90%);
  background-size: auto 1000px; /* Define o tamanho do gradiente */
  background-position: center center; /* Centraliza o gradiente */
  background-repeat: no-repeat; /* Evita que o gradiente se repita */
  text-align: center;
  width: auto;
  margin: 0 auto; /* Centraliza o conteúdo */
}

body.light-mode .solutions {
  background-image: none;
  background-color: #aee5ff;
}

.solutions h2{
  line-height: normal;
  font-size: 32px;
  margin: 0;
}

.landings-list {
  display: flex;
  flex-direction: row;
  padding: 50px 50px 70px 50px;
  gap: 30px;
}

.landings-list img{
  max-width: 200px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-color: transparent;
  box-shadow: 5px 10px 5px 5px rgba(0, 0, 0, 0.3);
  transition: transform 0.3s ease; /* Suavidade da animação */
}

.landings-list img:hover {
  transform: translateY(-10px) scale(1.05);
  cursor: pointer;
}

.solutions-title {
  max-width: 480px;
}

.solutions button {
  padding: 15px 30px;
  background-color: #1a1a1a;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  color: #f3f3f3;
  font-size: 18px;
  font-weight: bold;
  transition: background-color 0.3s;
}

.solutions button:hover {
  background-color: #0056b3;
}

body.light-mode .solutions button{
  background-color: #0c4ad6;
  color: #f3f3f3;
}

body.light-mode .solutions button:hover{
  background-color: #6dd1ff;
}

/* Testimonial Section */

.testimonials {
  display: flex;
  flex-direction: column;
  justify-content: space-between; /* Distribui o espaço adequadamente */
  align-items: center;
  padding: 100px;
  padding-bottom: 70px;
  background-color: #1a1a1a;
  background-size: auto 1000px; /* Define o tamanho do gradiente */
  background-position: center center; /* Centraliza o gradiente */
  background-repeat: no-repeat; /* Evita que o gradiente se repita */
  text-align: center;
  width: auto;
  margin: 0 auto; /* Centraliza o conteúdo */
}

.testimonials-title {
  max-width: 480px;
  padding-top: 50px;
  padding-bottom: 50px;
}

.testimonial-cards {
  display: flex;
  flex-direction: row;
  transition: transform 0.5s ease;
}

.testimonial img {
  border-radius: 50%;
  margin-bottom: 10px;
  margin-top: 10px;
  width: 80px;
}

.testimonial {
  background-color: #fff;
  color: #333;
  border-radius: 8px;
  padding: 50px;
  min-width: 300px;
  max-width: 300px;
  margin-right: 20px;
  text-align: start;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  flex: 0 0 auto;
  transition: transform 0.3s ease, box-shadow 0.3s ease; /* Adiciona a transição */
}

/* Animação ao passar o mouse */
.testimonial:hover {
  transform: translateY(-10px); /* Move o card 10px para cima */
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Aumenta a sombra para dar mais profundidade */
}

.navigation {
  display: inline;
}

.testimonials p{
  color: rgb(136, 136, 136);
  line-height: 20px;
  font-size: 14px;
  margin: 0;
}

.testimonial h3{
  margin-top: 40px;
  margin-bottom: 0;
  color: #0c55fa;
}

.company-name {
  color: #0c55fa !important;
  text-transform: uppercase;
}

.testimonials h2{
  line-height: normal;
  font-size: 32px;
  margin: 0;
}

.testimonials button {
  background-color: #0066FF;
  color: white;
  border: none;
  padding: 15px;
  margin-top: 15px;
  cursor: pointer;
  border-radius: 50px;
}

.testimonials button:hover {
  background-color: #0051cc;
}

.testimonials button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

/* Purpose Section */
.purpose {
  display: flex;
  flex-direction: row;
  width: 100%; /* Garante que a seção ocupe 100% da largura da janela */
}

.second-purpose-section {
  flex-basis: 50%; /* Cada seção ocupa 50% */
  box-sizing: border-box; /* Garante que o padding não quebre o layout */
  overflow: hidden;
  background-image: url('assets/meeting.png');
  background-size: cover; /* Faz a imagem cobrir toda a div */
  background-position: center; /* Centraliza a imagem */
  background-repeat: no-repeat; /* Impede a repetição da imagem */
  overflow: hidden; /* Impede o estouro do conteúdo */
  align-items: flex-end;
  position: relative;
  display: flex;
  justify-content: flex-start;
}

.first-purpose-section {
  flex-basis: 50%; /* Cada seção ocupa 50% */
  display: flex;
  justify-content: center; /* Centraliza o conteúdo horizontalmente */
  align-items: start; /* Centraliza o conteúdo verticalmente */
  padding: 50px 100px 50px 100px ; /* Pequeno padding para espaçamento interno */
  box-sizing: border-box; /* Garante que o padding não quebre o layout */
  flex-direction: column; /* Permite que o conteúdo fique em coluna */
  text-align: start;
  background-image: radial-gradient(#0c4ad6, #101010 90%);
  background-size: auto 1000px; /* Mantém o gradiente */
  background-position: center center;
  background-repeat: no-repeat;
}

body.light-mode .first-purpose-section {
  background-image: none;
  background-color: #aee5ff;
}

.purpose-text {
  text-align: start;
  line-height: 25px;
  margin: 0;
}

.first-purpose-section img {
  width: 100%;
  max-width: 120px;
}

.purpose-affirmations {
  position: relative; /* Permite que a caixa seja posicionada em relação ao contêiner pai */
  background-color: white;
  width: 80%; /* Define um tamanho máximo para a caixa */
  max-height: 80px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.purpose-affirmation{
  padding: 20px;
  display: flex;
  flex-direction: row;
}

.purpose-affirmation-text {
  display: flex;
  flex-direction: column;
}

.purpose-affirmation h3{
  color: #000;
  margin: 0;
  padding: 0;
  line-height: normal;
}

.purpose-affirmation .blue{
  color: #0056b3;
  margin: 0;
  padding: 0;
}

body.light-mode .purpose-affirmation .blue{
  color: #0056b3;
}

.purpose-affirmation img{
  width: 40px; /* Define a largura dos ícones */
  height: 40px; /* Define a altura dos ícones */
  object-fit: contain; /* Garante que a imagem se ajuste ao tamanho definido */
  padding-right: 15px;
}

.purpose button {
  padding: 15px 30px;
  background-color: #1a1a1a;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  color: #f3f3f3;
  font-size: 18px;
  font-weight: bold;
  transition: background-color 0.3s;
}

.purpose button:hover {
  background-color: #0056b3;
}

/* Responsividade para telas menores */
@media (max-width: 768px) {
  .purpose {
    flex-direction: column; /* Empilha as seções na vertical em telas pequenas */
    height: auto; /* Remove o height fixo em dispositivos móveis */
  }

  .first-purpose-section,
  .second-purpose-section {
    flex-basis: auto; /* O tamanho agora será definido automaticamente */
    width: 100%; /* As seções ocupam 100% da largura da tela */
  }
}

/* FAQ section */
.faq-section {
  margin: 0 auto;
  background-color: #fff;
  padding: 50px 150px 100px 150px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.faq-section h2{
  line-height: normal;
  font-size: 32px;
  margin-top: 20px;
  margin-bottom: 60px;
  color: #101010;
  font-weight: 900;
}

.faq-container {
  display: flex;
  justify-content: space-between;
}

.faq-left, .faq-right {
  width: 48%;
}

.faq-item {
  margin-bottom: 15px;
}

.faq-question {
  width: 100%;
  background-color: #f4f4f4;
  border: none;
  padding: 15px;
  font-size: 16px;
  display: flex;
  flex-direction: row;
  text-align: left;
  align-items: center;
  justify-content: space-between;
  height: 70px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-weight: 500;
}

.faq-answer {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.4s ease;
  padding: 0 15px;
  background-color: #f9f9f9;
  border-left: 3px solid #007BFF;
  margin-top: 5px;
}

.faq-answer p {
  font-size: 14px;
  color: #333;
  padding: 10px 0;
}

/* Footer Section */
footer {
  text-align: center;
  padding: 50px 100px 50px 100px;
  background-color: #151515;
  display: flex;
  flex-direction: column;
}

.footer-columns {
  display: flex;
  flex-direction: row;
  align-items: start;
  text-align: start;
  width: 100%;
  margin-bottom: 100px;
}

.footer-columns p {
  max-width: 252px;
  color: rgb(136, 136, 136);
  line-height: normal;
  font-weight: 400;
}

.social-media-icon img{
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.social-media-icon {
  background-color: #333333;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px 10px 20px 0px;
  padding: 4px 8px 1px 8px;
  flex-basis: 3% !important;
}

.social-media-icon:hover {
  cursor: pointer;
}

.footer-menu, .support-menu{
  display: flex;
  flex-direction: column;
}

.footer-menu a, .support-menu a{
  color: rgb(136, 136, 136);
  line-height: normal;
  font-weight: 400;
  margin-bottom: 20px;
}

.social-media-icons {
  display: flex;
  flex-direction: row;
  width: auto;
  height: auto;
}

.footer-columns div{
  flex-basis: 20%;
}

.social-medias {
  flex-basis: 35% !important;
}

.copy-text p{
  text-align: center;
  color: rgb(136, 136, 136);
}

.copy-text a{
  color:#007BFF;
}

footer a{
  text-decoration: none;
}

footer h3 {
  line-height: normal;
  font-size: 24px;
  margin-bottom: 30px;
  color: #f9f9f9;
  font-weight: 900;
}

.contact-form {
  display: flex;
  flex-direction: row;
  border: 2px solid rgb(136, 136, 136); /* Borda */
  border-radius: 15px; /* Arredondar bordas */
  height: 45px;
}

.contact-form img{
  width: 30px;
  object-fit: contain;
}

.contact-form img:hover{
  cursor: pointer;
}

.contact-button-form{
  border: 0;
  background-color: transparent;
}

.contact-form input[type="text"]{
  padding: 20px 10px 20px 20px; /* Espaçamento interno */
  background-color: transparent;
  font-size: 16px; /* Tamanho da fonte */
  outline: none; /* Remover contorno ao focar */
  border: 0;
  color: #fff;
}

/* Media queries for responsive design */
@media (min-width: 768px) {

  .service-item {
    flex: 1 1 calc(33.33% - 40px);
  }

  .detail-item {
    flex: 1 1 calc(33.33% - 40px);
  }
}

@media (min-width: 1024px) {
  header {
    padding: 20px 100px;
  }

  .services, .testimonials {
    padding: 60px 100px;
  }

  .service-item {
    flex: 1 1 calc(25% - 40px);
  }
}

/* Additional media queries for smaller devices */
@media (max-width: 480px) {
  header {
    flex-direction: column;
    align-items: flex-start;
    padding: 20px;
  }

  nav ul {
    flex-direction: column;
    gap: 10px;
    margin-top: 10px;
  }

  .right-section {
    margin-top: 10px;
  }

  .service-item {
    flex: 1 1 calc(100% - 20px);
    margin-bottom: 20px;
  }
}