/* styles.css */

/* Regras gerais */
body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  color: #f3f3f3;
  background-color: #0a0a0a;
  line-height: 1.6;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 50px;
  background-color: #101010;
  height: 70px;
  border-bottom: 3px solid #0c55fa;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 50px;
  margin-left: 150px;
  padding: 0;
}

nav li {
  cursor: pointer;
  font-size: 20px;
  font-weight: bold;
  color: #f3f3f3;
}

.right-section {
  display: flex;
  align-items: center;
  margin-right: 200px;
}

.theme-switch {
  display: inline-block;
  width: 45px;
  height: 20px;
  background-color: #f3f3f3;
  border-radius: 15px;
  position: relative;
  margin-right: 10px;
  transition: background-color 0.4s;
}

.theme-switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.theme-switch label {
  position: absolute;
  top: 2px;
  left: 2px;
  width: 16px;
  height: 16px;
  background-color: #000;
  cursor: pointer;
  border-radius: 50%;
  transition: transform 0.4s;
}

.theme-switch input:checked + label {
  transform: translateX(25px);
}

.language-switch {
  height: 20px;
}

.language-switch img {
  width: 30px;
  height: 20px;
  margin-left: 8px;
  cursor: pointer;
  border-radius: 2px;
}

/* Hero section */
.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 80px 20px;
  background-image: radial-gradient(#0c4ad6, #101010 90%);
  background-size: auto 1000px; /* Define o tamanho do gradiente */
  background-position: center center; /* Centraliza o gradiente */
  background-repeat: no-repeat; /* Evita que o gradiente se repita */
  text-align: center;
  height: 420px;
}

.hero-content {
  max-width: 800px;
  margin-bottom: 20px;
}

.hero h1 {
  font-size: 36px;
  margin: 0 0 20px 0;
  color: #f3f3f3;
}

.hero p {
  font-size: 18px;
  margin: 0 0 30px 0;
  color: #dddddd;
}

.hero button {
  padding: 15px 30px;
  background-color: #1a1a1a;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  color: #f3f3f3;
  font-size: 18px;
  font-weight: bold;
  transition: background-color 0.3s;
}

.hero button:hover {
  background-color: #0c4ad6;
}

.hero img {
  width: 100%;
  max-width: 400px;
}

/* Sections */
.services, .testimonials, .advantages-presentation {
  padding: 60px 20px;
  background-color: #101010;
  text-align: center;
}

/* Advantages Presentation Section */
.advantages-presentation {
  border-bottom: solid 1px #2e2e2e;
  margin: 0;
  padding: 20px;
}

.advantages-presentation h3{
  text-align: left;
  display: inline;
  margin-left: 70px;
}

/* Services Section */

.services h2, .testimonials h2{
  margin-bottom: 40px;
  font-size: 32px;
}

.services {
  text-align: center;
  padding: 40px 20px;
  background-color: #141414;
}

.service-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  margin-left: 150px; /* Margem à esquerda */
  margin-right: 150px; /* Margem à direita */
  max-width: calc(100% - 40px); /* Largura máxima menos as margens */
}

.service-item {
  background-color: #2c2c2c;
  color: #fff;
  flex: 1 1 calc(33.333% - 40px); /* Ajuste a largura para caber três itens por linha */
  max-width: calc(33.333% - 40px); /* Garantir que a largura máxima também seja limitada */
  box-sizing: border-box;
  text-align: center;
  cursor: pointer;
  border-radius: 8px;
  transition: transform 0.3s, background-color 0.3s;
  display: flex;
  flex-direction: column;
  align-items: left;
  text-align: left;
  padding: 70px 10px 10px 25px;
}

.service-item-icon {
  width: 30px;
  height: 30px;
  background-color: #0c55fa;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2px;
}

.service-item-icon img {
  width: 100%; /* Ajuste para a largura da div */
  height: auto; /* Mantém a proporção da imagem */
  object-fit: cover; /* Ajusta a imagem para cobrir a div */
  border-radius: 5px;
}

.service-item:hover {
  transform: translateY(-10px);
  background-color: #1f1f1f;
}

@media (max-width: 768px) {
  .service-item {
    flex: 1 1 calc(50% - 20px); /* Dois itens por linha em telas menores */
    max-width: calc(50% - 20px);
  }
}

@media (max-width: 480px) {
  .service-item {
    flex: 1 1 100%; /* Um item por linha em telas muito pequenas */
    max-width: 100%;
  }
}

.service-item:hover {
  transform: translateY(-10px);
  background-color: #1f1f1f;
}

/* Advantages Section */

.advantages {
  display: flex;
  flex-direction: row;
  justify-content: space-between; /* Distribui o espaço adequadamente */
  align-items: unset;
  padding: 30px;
  padding-bottom: 70px;
  background-image: radial-gradient(#0c4ad6, #101010 90%);
  background-size: auto 1000px; /* Define o tamanho do gradiente */
  background-position: center center; /* Centraliza o gradiente */
  background-repeat: no-repeat; /* Evita que o gradiente se repita */
  text-align: center;
  width: auto;
  margin: 0 auto; /* Centraliza o conteúdo */
}

.advantage {
  display: flex;
  flex-direction: column;
  align-items: start;
  flex-basis: 26%; /* Define o tamanho da div da imagem */
  text-align: start;
  padding-left: 80px;
}

.advantage img {
  max-width: 400px;
  height: auto;
  border-radius: 10px; /* Aplica bordas arredondadas */
  display: grid;
  margin-top: 40px;
}

.advantage h3 {
  font-size: 28px;
  line-height: normal;
}

.advantage button {
  padding: 15px 30px;
  background-color: #1a1a1a;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  color: #f3f3f3;
  font-size: 18px;
  font-weight: bold;
  transition: background-color 0.3s;
}

.detail-item {
  padding-right: 100px;
}

.advantage button:hover {
  background-color: #0056b3;
}

.advantage-details {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* Cria 3 colunas de tamanho igual */
  text-align: start;
  flex-basis: 65%;
  padding-top: 40px;
}

.detail-item h4 {
  font-size: 24px; /* Tamanho ajustado para os títulos */
  margin: 0;
  font-weight: 800;
}

.detail-item p {
  font-size: 16px;
  font-weight: lighter;
}

/* Second Information Section */

.second-info {
  text-align: center;
  padding: 50px 150px 50px 150px;
  background-color: #1a1a1a;
  display: flex;
  flex-direction: row;
}

.second-info p{
  font-size: 14px;
}

.second-info h2{
  line-height: normal;
  font-size: 32px;
  margin: 0;
}

.second-info-first {
  display: flex;
  flex-direction: column;
  align-items: start;
  flex-basis: 50%; /* Define o tamanho da div da imagem */
  text-align: start;
  padding-top: 100px
}

.second-info-first button {
  padding: 15px 30px;
  background-color: #0056b3;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  color: #f3f3f3;
  font-size: 18px;
  font-weight: bold;
  transition: background-color 0.3s;
  margin-top: 20px;
}

.second-info-image {
  flex-basis: 30%;
  margin-left: 100px;
}

.second-info-image img{
  width: 500px;
  height: auto;
}

.second-info-first button:hover {
  background-color: #1a40b4;
}

/* Solutions Section */

.solutions {
  display: flex;
  flex-direction: column;
  justify-content: space-between; /* Distribui o espaço adequadamente */
  align-items: center;
  padding: 100px;
  padding-bottom: 70px;
  background-image: radial-gradient(#0c4ad6, #101010 90%);
  background-size: auto 1000px; /* Define o tamanho do gradiente */
  background-position: center center; /* Centraliza o gradiente */
  background-repeat: no-repeat; /* Evita que o gradiente se repita */
  text-align: center;
  width: auto;
  margin: 0 auto; /* Centraliza o conteúdo */
}

.solutions h2{
  line-height: normal;
  font-size: 32px;
  margin: 0;
}

.landings-list {
  display: flex;
  flex-direction: row;
  padding: 50px 50px 70px 50px;
  gap: 30px;
}

.landings-list img{
  max-width: 200px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-color: transparent;
  box-shadow: 5px 10px 5px 5px rgba(0, 0, 0, 0.3);
  transition: transform 0.3s ease; /* Suavidade da animação */
}

.landings-list img:hover {
  transform: translateY(-10px) scale(1.05);
  cursor: pointer;
}

.solutions-title {
  max-width: 480px;
}

.solutions button {
  padding: 15px 30px;
  background-color: #1a1a1a;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  color: #f3f3f3;
  font-size: 18px;
  font-weight: bold;
  transition: background-color 0.3s;
}

.solutions button:hover {
  background-color: #0056b3;
}

/* Testimonial Section */

.testimonial {
  background-color: #1a1a1a;
  padding: 40px;
  margin-bottom: 20px;
  border-radius: 8px;
  text-align: center;
  transition: transform 0.3s;
}

.testimonial:hover {
  transform: translateY(-10px);
  background-color: #282828;
}

.testimonial h3 {
  margin-top: 20px;
  font-size: 20px;
}

/* Footer Section */
footer {
  text-align: center;
  padding: 20px;
  background-color: #0a0a0a;
}

/* Media queries for responsive design */
@media (min-width: 768px) {
  .hero {
    flex-direction: row;
    text-align: left;
  }

  .hero-content {
    max-width: 50%;
    margin-bottom: 0;
  }

  .service-item {
    flex: 1 1 calc(33.33% - 40px);
  }

  .detail-item {
    flex: 1 1 calc(33.33% - 40px);
  }
}

@media (min-width: 1024px) {
  header {
    padding: 20px 100px;
  }

  .hero {
    padding: 80px 100px;
  }

  .services, .testimonials {
    padding: 60px 100px;
  }

  .service-item {
    flex: 1 1 calc(25% - 40px);
  }
}

/* Additional media queries for smaller devices */
@media (max-width: 480px) {
  header {
    flex-direction: column;
    align-items: flex-start;
    padding: 20px;
  }

  nav ul {
    flex-direction: column;
    gap: 10px;
    margin-top: 10px;
  }

  .right-section {
    margin-top: 10px;
  }

  .hero h1 {
    font-size: 28px;
  }

  .hero p {
    font-size: 16px;
  }

  .hero button {
    font-size: 16px;
    padding: 10px 20px;
  }

  .service-item {
    flex: 1 1 calc(100% - 20px);
    margin-bottom: 20px;
  }

}
